body {
    background: #407BFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.login {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading{
    u{
        text-decoration-color: blue;
    }
}


.login-form {
    background: #fff;
    border-radius: 16px;
    padding: 40px 32px;
    box-shadow: 0 8px 24px rgba(64,123,255,0.1);
    min-width: 340px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-form h2 {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: #242424;
}

.underline {
    border-bottom: 3px solid #407BFF;
    padding-bottom: 2px;
}

.input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    padding-bottom: 6px;
     display: block;
    border-bottom: 2px solid grey;
}

.input .icon {
    font-size: 1.2rem;
    margin-right: 7px;
    color: #8A8A8A;
}

.input input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    padding: 8px 0;
    background: transparent;
    color: #444;
    
}

.eye {
    font-size: 1.5rem;
    margin-left: 5px;
    color: #8A8A8A;
    padding-left: 5rem;
    
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.96rem;
    color: #444;
}

.options label {
    display: flex;
    align-items: center;
    
}

.options input[type="checkbox"] {
    margin-right: 7px;
    accent-color: #407BFF;
}

.forgot {
    color: #407BFF;
    text-decoration: none;
}

.login-btn {
    background: #407BFF;
    color: #fff;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
   
}

.login-btn:hover {
    background: #305cb1;
}

.signup-link {
    text-align: center;
    font-size: 1rem;
    color: #444;
}

.signup-link a {
    color: #407BFF;
    text-decoration: none;
}
