body{
    background: #a7eaff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.calculator{
    background: #000;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
}

#display{
    width: 90%;
    height: 50px;
  margin-bottom: 20px;
    border: none;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    background: #e8f0f5;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background: #d1d1d1;
    cursor: pointer;
}

button.clear {
    background: red;
    color: #fff;
}

#equal {
    background: #ff4b00;
    color: #fff;
    width: 100%;
    height: 55px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

