body {
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 60px auto;
  padding: 25px 30px;
  border-radius: 6px;
  text-align: center;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 4px;
}

input[type="date"] {
  width: 100%;
  padding: 6px 8px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  color: aqua;
  border-radius: 4px;
  cursor: pointer;

}
button:hover{
    background:blue;
}

#result{
    margin-top: 18px;
    font-weight: bold;
}
