#mainDiv{
    border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


.subDiv{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: blueviolet;

}